[color]
	ui = auto
[user]
	email = marcofognog@gmail.com
	name = Marcao

[color "status"]
	changed = yellow
	added = green
	untracked = red

[alias]
  l = log --pretty=format:'%C(green)%h%C(reset) %an %C(yellow)%ar%C(reset) %C(magenta)%d %C(reset)%s' --no-pager -30
  s = status
  d = diff
  c = checkout
  dc = diff --cached
  lg  = "log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit"
  find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
  show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"

[core]
	editor = vim
